@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:root {
  --header-nav-height: 97px;
  --accent-color: #11749e;
}

html {
  font-size: 16px;
}

body {
  min-width: 320px;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
  
}

nav#my-menu {
  font-size: 2.3rem;
}

.header {
  width: 100%;
  height: 100vh;
  background: url(../img/header-bg.jpg) top center no-repeat;
  background-size: 100%;
  display: flex;
  position: relative;
  // flex-direction: column;
  color: #fff;
  & .header-top {
    position: absolute;
    width: 100%;
    height: var(--header-nav-height);
    border-bottom: solid color(#787878 alpha(38%)) 2px;
    
    & .header-logo {
      margin: auto 0;
      position: absolute;
      width: 70px;
      top: 0;
      bottom: 0;
      left: 200px;
    }
    & .header-menu {
      display: flex;
      height: 100%;
      margin: 0 auto;
      padding: 0;
      justify-content: center;

      & a:nth-child(1) {
        margin-left: 80px;
      }
      & a:hover {
        color: color(#fff alpha(50%));
      }
      & a:not(.fa):focus {
        border-bottom: 5px solid var(--accent-color);
      }
      & a {
        box-sizing: border-box;
        white-space: nowrap;
        display: inline-flex;
        line-height: var(--header-nav-height);
        height: 100%;
        padding: 0 15px;
        transition: border-width .3s ease, color .3s ease;
      }        
    }
    & button.hamburger {
      display: none;
      position: absolute;
      width: 100px;
      right: 0;
      top: 0;
      bottom: 0;
      outline: none;
      & .hamburger-inner, & .hamburger-inner::before, & .hamburger-inner::after {
        background-color: #fff;
      }
    }
  }


  & .heading {
    margin: auto;
    text-align: center;
    text-transform: uppercase;    
    & h1 {
      font-size: 9rem;
      margin: 0;
    }
    & p {
      font-size: 1.3rem;
      letter-spacing: 15px;
      color: var(--accent-color);
      font-weight: 900;
    }
  }

  & .scroll-down {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100px;
    bottom: 20px;
    text-align: center;
    & span {
      font-size: 0.9rem;
      
    }
    & i {
      padding: 18px;
      margin-top: 12px;
      border: 1px solid #fff;
      border-radius: 50%;
    }
  }
}

.block-logo {
  position: absolute;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  font-style: normal;
  font-size: 10rem;
  opacity: .18;
  margin: 0 auto;
  text-align: center;
  width: 300px;
  left: 0;
  right: 0;
  top: 10px;
}
.block-header {
  text-align: center;
  text-transform: uppercase;
  // margin-bottom: 100px;
  font-size: 2rem;
  letter-spacing: 2px;
  margin-top: 0;
  padding: 100px;
}

.features-block {
  width: 100%;
  background: var(--accent-color);
  color: #fff;
  position: relative;
  & .features-container {
    width: 100%;
    text-align: center;
    padding-bottom: 60px;
    & .row {
      justify-content: center;
    }
    & .feature-logo {
      width: 100px;
    }
    & .feature-header {
      text-transform: uppercase;
    }
    & .feature {
      max-width: 40%;
    }
  }
}

.news-block {
  display: flex;
  flex-wrap: wrap;
  & .news-block-element {
    width: 50%;
    padding: 5% 15% 5% 10%;
    & small {
      font-size: 0.6rem;
      & pre {
        font-family: 'Open Sans', sans-serif;
      }
    }
    & h3 {
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 1.5rem;
    }
    & p {
      font-size: 0.8rem;
    }
  }
  & .news-block-element:first-child {
    background-color: #222;
    color: #f3f3f3;
  }
  & .news-block-element:nth-child(4) {
    background-color: #f3f3f3;
    color: #222;
    padding-left: 5%;
    padding-right: 15%px;
  }
  & .news-block-element.has-bg {
    background-size: cover;
  }
}

.block-subheader {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 300;
  margin-bottom: 50px;
}

.blog-block {
  position: relative;
  margin-bottom: 60px;
  & .block-header {
    margin-bottom: 0;
    padding-bottom: 40px;
  }
  & .blog-element {
    text-align: center;
    & img {
      max-width: 200px;
    }
    & .blog-header {
      color: var(--accent-color);
      text-transform: uppercase;
      letter-spacing: 1px;
      // font-size: 1rem;
      margin-bottom: 0;
    }
    & .blog-content {
      font-size: 0.8rem;
      
    }

  }

}

.quick-actions-block {
  background-color: var(--accent-color);
  color: #fff;
  padding-top: 5%;
  padding-bottom: 8%;
  & .quick-action {
    display: flex;
    align-items: center;
    & .quick-action-icon {
      margin-right: 20px;
    }
    & .quick-action-text {
      font-size: 0.9rem;
    }
  }
}

.key-feature-block {
  color: #fff;
  background-size: cover;
  & .f-container {
    padding: 50px 0;
    max-width: 80%;
    display: flex;
    // flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    & .key-feature {
      max-width: 40%;
      & .key-feature-heading {
        font-size: 1.5rem;
        text-transform: uppercase;
      }
      & .key-feature-text {
        font-size: 0.8rem;
        margin-bottom: 50px;
      }
      & .key-feature-list {
        list-style: none;
        padding-left: 0;
        & li {
          width: 80%;
          display: block;
          padding: 5px 20px;
          margin: 10px 0;
          background-color: var(--accent-color);
          text-transform: uppercase;
          font-size: 0.8rem;
        }
        & li:nth-child(2) {
          width: 85%;
        }
        & li:nth-child(3) {
          width: 90%;
        }
      }
    }
    & .key-feature-img {
      width: 30%;
    }
  }
}

.team-block {
  position: relative;
  padding-bottom: 100px;
  & .team-element {
    background-size: cover;
    position: relative;
    & .photo {
      width: 100%;
    }
    & .name-card {
      padding: 10px;
      width: 70%;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -10px;
      margin: 0 auto;
      background-color: #fff;
      text-align: center;
      & span {
        display: block;
      }
      & .name {
        color: var(--accent-color);
        text-transform: uppercase;
        font-size: 0.7rem;
        font-weight: bold;
      }
      & .position {
        font-size: 0.6rem;
        font-weight: bold;
      }
    }
  }
}