@media screen and (min-width: 1600px) {
  html {
    font-size: 28px;
  }
  .header .header-top {
    height: 130px;
  }
  .header .header-top .header-logo {
    width: 100px;
    left: 50px;
  }
  .header .header-top .header-menu a {
    line-height: 130px;
  }
  .header .scroll-down {
    width: 200px;
  }
  .header .header-top .header-menu a {
    padding: 0 30px;
  }
  .block-logo {
    top: -50px;
  }
  .blog-block .blog-element {
    & img {
      min-width: 200px;
      max-width: none;
    }
    & .blog-header {
      // font-size: 0.7rem; 
      letter-spacing: 2px;
    }
  }
}

@media screen and (max-width: 1200px) {

  .header {
    background-size: cover;
    & .header-top {
      height: 80px;
      & .header-logo {
        // width: 50px;
        left: 50px;
      }
      & .header-menu {
        & a:nth-child(2) {
          margin-left: 10px;
        }
        
      }
    }
    
    & .heading p {
      letter-spacing: 10px;
    }
  }

  .blog-block .blog-element {
    & img {
      max-width: 170px;
    }
  }
}

@media screen and (max-width: 900px) {
  html {
    font-size: 12px;
  }
  .header .header-top .header-logo {
    left: 20px;
    width: 50px;
  }
  .header .header-top .header-menu a {
    padding: 0 10px;
  }
  .block-logo {
    top: 30px;
  }
  .blog-block .blog-element .blog-content {
    max-width: 170px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 7px;
  }
  .header .heading p {
    letter-spacing: 7px;
  }
  .header .header-top .header-menu {
    display: none;
  }
  .header .header-top button.hamburger {
    display: block;
  }
  .header .scroll-down span {
    font-size: 1.5rem;
  }
  .features-block {
    font-size: 1.3rem;
  }

  .block-header {
    padding: 50px 0;
    font-size: 2.5rem;
  }

  .features-block .features-container .feature-logo {
    width: 70px;
  }

  .block-logo {
    font-size: 11rem;
    top: 10px;
  }
  .news-block .news-block-element {
    width: 100%;
    & small {
      font-size: 1rem;
    }
    & h3 {
      font-size: 2rem;
    }
    & p {
      font-size: 1.5rem;
    }
  }
  .news-block .news-block-element.has-bg {
    display: none;
  }

  .news-block .news-block-element:nth-child(4),
  .news-block .news-block-element:first-child {
    padding: 5% 20% 5% 20%;
  }

  .block-subheader {
    font-size: 2rem;
  }

  .blog-block {
    & .block-header {
      font-size: 4rem;
    }
    & .block-logo {
      font-size: 20rem;
      top: -25px;
    }
    
    & .blog-element {
      & img {
        max-width: 250px;
      }
      & .blog-header {
        font-size: 2rem;
      }
      & .blog-content {
        max-width: 250px;
        font-size: 1.8rem;
      }
    }
  }

  .quick-actions-block .quick-action:first-child {
    margin-bottom: 20px;
  }
  .quick-actions-block .quick-action {
    & .quick-action-icon {
      width: 60px;
    }
    & .quick-action-text {
      font-size: 2rem;
    }
  }

  .key-feature-block {
    & .f-container {
      flex-direction: column;
      & .key-feature {
        max-width: 80%;
        & .key-feature-heading {
          font-size: 4rem;
        }
        & .key-feature-text {
          font-size: 2rem;
        }
        & .key-feature-list li {
          font-size: 1.5rem;
        }
      }
      & .key-feature-img {
        margin-top: 60px;
        width: 60%;
      }
    }
  }

  .team-block {
    padding-bottom: 20px;
    & .block-header {
      font-size: 4rem;
    }
    & .block-logo {
      font-size: 15rem;
      top: 0;
    }

    & .team-element {
      margin-bottom: 50px;
      & .name-card {
        & .name {
          font-size: 1.5rem;
        }
        & .position {
          font-size: 1.4rem;
        }
      }
    }
  }

  .contact-block {
    & .block-header {
      font-size: 3rem;
    }
    & .block-logo {
      font-size: 20rem;
      top: -35px;
    }
    & .contact-form .row  {
    
      justify-content: center;
      & .text-field {
        max-width: 80%;
        font-size: 2rem;
      }
    }
  }

}
